<!DOCTYPE html>
<html lang="es">
<body>
    <span th:fragment="modalPhoto">
        <!-- Modal para mostrar la foto de producto mas grande -->
        <div class="modal fade" id="showModalPhoto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="max-width: 600px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close btnClose" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img class="rounded mx-auto d-block" style="max-width: 500px;" id="imgPhoto"/>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <p id="titleModalPhoto"></p>
                    </div>
                </div>
            </div>
        </div>
    </span>
</body>
</html>
<!--    <div th:object="${user}" th:remove="tag">-->
<!--        <ul th:if="${#fields.hasErrors('*')}" class="list-group mb-3">-->
<!--            <li class="list-group-item list-group-item-danger" th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>-->
<!--        </ul>-->
<!--    </div>-->