<!DOCTYPE html>
<html lang="es">
<head>
    <span th:replace="~{sistema/component/base :: head}"></span>
    <title>Clientes | JC System</title>
</head>
<body>
<header th:replace="~{sistema/component/base :: header}"></header>

<nav th:replace="~{sistema/component/base :: menu}"></nav>

<!-- Contenido -->
<main id="main" class="main">
    <!-- Alerts -->
    <span th:replace="~{sistema/component/base :: alerts}"></span>
    <div class="pagetitle">
        <h1>Control de Clientes</h1>
    </div>
    <!-- Botones -->
    <div class="row">
        <div class="col-lg-3">
            <a class="btn btn-primary me-2 mb-4 btnNuevo" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="">Nuevo
                Cliente</a>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Registro de Cliente</h1>
                            <button type="button" class="btn-close btnClose" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{/system-sport-shop/control/clientes}" th:object="${client}" method="post">
                            <div class="modal-body">
                                <input type="hidden" id="id" th:field="*{id}"/>
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <label for="names" class="form-label">Nombres:</label>
                                        <input type="text" class="form-control" id="names" th:field="*{names}"/>
                                        <div class="alert alert-danger p-sm-1" role="alert" th:if="${#fields.hasErrors('names')}" th:errors="*{names}"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="apePat" class="form-label">Apellido paterno:</label>
                                        <input type="text" class="form-control" id="apePat" th:field="*{apePat}"/>
                                        <div class="alert alert-danger p-sm-1" role="alert" th:if="${#fields.hasErrors('apePat')}" th:errors="*{apePat}"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="apeMat" class="form-label">Apellido materno:</label>
                                        <input type="text" class="form-control" id="apeMat" th:field="*{apeMat}"/>
                                        <div class="alert alert-danger p-sm-1" role="alert" th:if="${#fields.hasErrors('apeMat')}" th:errors="*{apeMat}"></div>
                                    </div>
                                    <div class="col-md-7">
                                        <label for="email" class="form-label">Correo electrónico:</label>
                                        <input type="text" class="form-control" id="email" th:field="*{email}"/>
                                        <div class="alert alert-danger p-sm-1" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                                    </div>
                                    <div class="col-md-5">
                                        <label for="password" class="form-label">Contraseña</label>
                                        <input type="password" class="form-control" id="password" th:field="*{password}"/>
                                        <div class="alert alert-danger p-sm-1" role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" id="observation" style="height: 100px" th:field="*{observation}"></textarea>
                                            <label for="observation">Observación</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btnClose" data-bs-dismiss="modal">Cerrar</button>
                                <input type="submit" class="btn btn-primary" value="Guardar"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <a class="btn btn-secondary me-2 mb-4" href="" target="_blank">Imprimir PDF</a>
        </div>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mt-3">
                            <div class="col-lg-12 overflow-hidden">
                                <!-- Tabla de datos -->
                                <table id="table" class="table table-hover">
                                    <thead>
                                    <tr class="text-center">
                                        <th class="text-center">ID</th>
                                        <th class="text-center">Nombres</th>
                                        <th class="text-center">Apellido paterno</th>
                                        <th class="text-center">Apellido materno</th>
                                        <th class="text-center">Correo electrónico</th>
                                        <th class="text-center">Observación</th>
                                        <th class="text-center">Estado</th>
                                        <th class="text-center">Usuario que registró</th>
                                        <th class="text-center">Fecha de registro</th>
                                        <th class="text-center">Usuario que modificó</th>
                                        <th class="text-center">Fecha de modificación</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="client : ${clients}">
                                        <th class="text-center" th:text="${client.id}"></th>
                                        <td th:text="${client.names}"></td>
                                        <td th:text="${client.apePat}"></td>
                                        <td th:text="${client.apeMat}"></td>
                                        <td th:text="${client.email}"></td>
                                        <td th:text="${client.observation}"></td>
                                        <td class="text-center" th:text="${client.userHistory.state == 1 ? 'Activo' : 'Inactivo'}"></td>
                                        <td th:text="${client.userHistory.userReg}"></td>
                                        <td class="text-center" th:text="${client.userHistory.dateReg}"></td>
                                        <td th:text="${client.userHistory.userMod}"></td>
                                        <td class="text-center" th:text="${client.userHistory.dateMod}"></td>
                                        <td class="text-center">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <a class="btn btn-success me-2 btnEditar" th:href="@{/system-sport-shop/control/cliente-edit(id=${client.id})}">
                                                    <i class="bi bi-pencil-fill"></i>
                                                </a>
                                                <a class="btn btn-danger" th:href="@{/system-sport-shop/control/cliente-delete(id=${client.id})}">
                                                    <i class="bi bi-trash-fill"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<span th:replace="~{sistema/component/base :: scripts}"></span>
<script th:src="@{/sistema/js/client-data-ajax.js}"></script>
<script th:src="@{/sistema/js/tabla-edit.js}"></script>
<script>tableEdit("client");</script>
</body>
</html>