<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <span th:replace="~{sistema/component/base :: head}"></span>
    <title>Roles de Usuario | JC System</title>
</head>
<body>
<header th:replace="~{sistema/component/base :: header}"></header>

<nav th:replace="~{sistema/component/base :: menu}"></nav>

<!-- Contenido -->
<main id="main" class="main">
    <!-- Alerts -->
    <span th:replace="~{sistema/component/base :: alerts}"></span>
    <div class="pagetitle">
        <h1>Roles de Usuario</h1>
    </div>
    <!-- Botones -->
    <div class="row">
        <div class="col-lg-3">
            <a class="btn btn-primary me-2 mb-4 btnNuevo" data-bs-toggle="modal" data-bs-target="#staticBackdrop" sec:authorize="hasRole('ADMIN')"
               href="">Nueva Rol</a>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Registro de Rol</h1>
                            <button type="button" class="btn-close btnClose" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{/system-sport-shop/control/roles}" th:object="${role}" method="post">
                            <div class="modal-body">
                                <input type="hidden" id="id" th:field="*{id}"/>
                                <div class="row g-3" >
                                    <div class="col-md-12">
                                        <label for="name" class="form-label">Nombre:</label>
                                        <input type="text" class="form-control" id="name" th:field="*{name}" />
                                        <div class="alert alert-danger p-sm-1" role="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="code" class="form-label">Código:</label>
                                        <input type="text" class="form-control" id="code" th:field="*{code}" />
                                        <div class="alert alert-danger p-sm-1" role="alert" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" id="description" th:field="*{description}" style="height: 100px"></textarea>
                                            <label for="description">Descripción</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btnClose" data-bs-dismiss="modal">Cerrar</button>
                                <input type="submit" class="btn btn-primary" value="Guardar"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <a class="btn btn-secondary me-2 mb-4" href="" target="_blank">Imprimir PDF</a>
        </div>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mt-3">
                            <div class="col-lg-12 overflow-hidden">
                                <!-- Tabla de datos -->
                                <table id="table" class="table table-hover">
                                    <thead>
                                    <tr class="text-center">
                                        <th class="text-center">ID</th>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Codigo</th>
                                        <th class="text-center">Descripción</th>
                                        <th class="text-center">Estado</th>
                                        <th class="text-center">Usuario que registró</th>
                                        <th class="text-center">Fecha de registro</th>
                                        <th class="text-center">Usuario que modificó</th>
                                        <th class="text-center">Fecha de modificación</th>
                                        <th class="text-center" sec:authorize="hasRole('ADMIN')">Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="rol : ${roles}">
                                        <th class="text-center" th:text="${rol.id}"></th>
                                        <td th:text="${rol.name}"></td>
                                        <td th:text="${rol.code}"></td>
                                        <td th:text="${rol.description}"></td>
                                        <td class="text-center" th:text="${rol.userHistory.state == 1 ? 'Activo' : 'Inactivo'}"></td>
                                        <td th:text="${rol.userHistory.userReg}"></td>
                                        <td class="text-center" th:text="${rol.userHistory.dateReg}"></td>
                                        <td th:text="${rol.userHistory.userMod}"></td>
                                        <td class="text-center" th:text="${rol.userHistory.dateMod}"></td>
                                        <td class="text-center" sec:authorize="hasRole('ADMIN')">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <a class="btn btn-success me-2 btnEditar" th:href="@{/system-sport-shop/control/role-edit(id=${rol.id})}">
                                                    <i class="bi bi-pencil-fill"></i>
                                                </a>
                                                <a class="btn btn-danger" th:href="@{/system-sport-shop/control/role-delete(id=${rol.id})}">
                                                    <i class="bi bi-trash-fill"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<span th:replace="~{sistema/component/base :: scripts}"></span>
<script th:src="@{/sistema/js/role-data-ajax.js}"></script>
<script th:src="@{/sistema/js/tabla-edit.js}"></script>
<script>tableEdit("role");</script>
</body>
</html>