<!DOCTYPE html>
<html lang="es">
<head>
    <span th:replace="~{sistema/component/base :: head}"></span>
    <title>Usuarios | JC System</title>
</head>
<body>
<header th:replace="~{sistema/component/base :: header}"></header>

<nav th:replace="~{sistema/component/base :: menu}"></nav>

<!-- Contenido -->
<main id="main" class="main">
    <!-- Alerts -->
    <span th:replace="~{sistema/component/base :: alerts}"></span>
    <div class="pagetitle">
        <h1>Control de Usuarios</h1>
    </div>
    <!-- Botones -->
    <div class="row">
        <div class="col-lg-3">
            <a class="btn btn-primary me-2 mb-4 btnNuevo" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="">Nuevo
                Usuario</a>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Registro de Usuario</h1>
                            <button type="button" class="btn-close btnClose" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{/system-sport-shop/control/usuarios}" th:object="${user}" method="post" enctype="multipart/form-data">
                            <input type="hidden" id="id" th:field="*{id}"/>
                            <div class="modal-body">
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <label for="names" class="form-label">Nombres:</label>
                                        <input type="text" class="form-control" id="names" th:field="*{names}"/>
                                        <div class="alert alert-danger p-sm-1" role="alert" th:if="${#fields.hasErrors('names')}" th:errors="*{names}"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="apePat" class="form-label">Apellido paterno:</label>
                                        <input type="text" class="form-control" id="apePat" th:field="*{apePat}"/>
                                        <div class="alert alert-danger p-sm-1" role="alert" th:if="${#fields.hasErrors('apePat')}" th:errors="*{apePat}"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="apeMat" class="form-label">Apellido materno:</label>
                                        <input type="text" class="form-control" id="apeMat" th:field="*{apeMat}"/>
                                        <div class="alert alert-danger p-sm-1" role="alert" th:if="${#fields.hasErrors('apeMat')}" th:errors="*{apeMat}"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Tipo de documento:</label>
                                        <select class="form-select" th:field="*{documentType}">
                                            <option value="">-Seleccionar-</option>
                                            <option th:each="doc : ${documentTypes}" th:value="${doc.id}" th:text="${doc.name}"></option>
                                        </select>
                                        <div class="alert alert-danger p-sm-1" role="alert" th:if="${#fields.hasErrors('documentType')}" th:errors="*{documentType}"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="nroDocu" class="form-label">Número de documento:</label>
                                        <input type="text" class="form-control" id="nroDocu" th:field="*{nroDocu}"/>
                                        <div class="alert alert-danger p-sm-1" role="alert" th:if="${#fields.hasErrors('nroDocu')}" th:errors="*{nroDocu}"></div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="email" class="form-label">Correo electrónico:</label>
                                        <input type="text" class="form-control" id="email" th:field="*{email}"/>
                                        <div class="alert alert-danger p-sm-1" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="username" class="form-label">Username:</label>
                                        <input type="text" class="form-control" id="username" th:field="*{username}"/>
                                        <div class="alert alert-danger p-sm-1" role="alert" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="password" class="form-label">Contraseña:</label>
                                        <input type="password" class="form-control" id="password"
                                               th:field="*{password}"/>
                                        <div class="alert alert-danger p-sm-1" role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="form-label">Roles:</label>
                                        <div class="form-check">
                                            <div th:each="rol : ${roles}">
                                                <input class="form-check-input" type="checkbox" th:value="${rol.id}"
                                                       th:field="*{roles}"/>
                                                <label class="form-check-label" th:for="${#ids.prev('roles')}"
                                                       th:text="${rol.name}"></label>
                                            </div>
                                        </div>
                                        <div class="alert alert-danger p-sm-1" role="alert" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="file" class="form-label">Ingresa la foto del usuario:</label>
                                        <input class="form-control" type="file" id="file" name="file"/>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" id="observation" style="height: 100px" th:field="*{observation}"></textarea>
                                            <label for="observation">Observación</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btnClose" data-bs-dismiss="modal">Cerrar</button>
                                <input type="submit" class="btn btn-primary" value="Guardar" id="btnGuardar"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <a class="btn btn-secondary me-2 mb-4" href="" target="_blank">Imprimir PDF</a>
        </div>
    </div>
    <section class="section">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mt-3 overflow-hidden">
                            <div class="col-lg-12">
                                <!-- Tabla de datos -->
                                <table id="table" class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center">Foto</th>
                                        <th class="text-center">Nombres</th>
                                        <th class="text-center">Apellido paterno</th>
                                        <th class="text-center">Apellido materno</th>
                                        <th class="text-center">Tipo de documento</th>
                                        <th class="text-center">Número de documento</th>
                                        <th class="text-center">Correo electrónico</th>
                                        <th class="text-center">Username</th>
                                        <th class="text-center">Estado
                                        <th class="text-center">Observación</th>
                                        <th class="text-center">Usuario que registró</th>
                                        <th class="text-center">Fecha de registro</th>
                                        <th class="text-center">Usuario que modificó</th>
                                        <th class="text-center">Fecha de modificación</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${users}">
                                        <th class="text-center" th:text="${user.id}"></th>
                                        <td class="text-center">
                                            <a class="showPhoto" th:href="@{/system-sport-shop/control/user-data(id=${user.id})}">
                                                <img class="rounded mx-auto d-block" style="max-width: 70px;" th:if="${user.photo != null && #strings.length(user.photo) > 0}"
                                                     th:src="@{'/system-sport-shop/photousers/' + ${user.photo}}" th:alt="${user.photo}"/>
                                            </a>
                                        </td>
                                        <td th:text="${user.names}"></td>
                                        <td th:text="${user.apePat}"></td>
                                        <td th:text="${user.apeMat}"></td>
                                        <td class="text-center" th:text="${user.documentType.name}"></td>
                                        <td class="text-center" th:text="${user.nroDocu}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.username}"></td>
                                        <td class="text-center" th:text="${user.userHistory.state == 1 ? 'Activo' : 'Inactivo'}"></td>
                                        <td th:text="${user.observation}"></td>
                                        <td th:text="${user.userHistory.userReg}"></td>
                                        <td class="text-center" th:text="${user.userHistory.dateReg}"></td>
                                        <td th:text="${user.userHistory.userMod}"></td>
                                        <td class="text-center" th:text="${user.userHistory.dateMod}"></td>
                                        <td class="text-center">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <a class="btn btn-success me-2 btnEditar" th:href="@{/system-sport-shop/control/usuario-edit(id=${user.id})}">
                                                    <i class="bi bi-pencil-fill"></i>
                                                </a>
                                                <a class="btn btn-danger" th:href="@{/system-sport-shop/control/usuario-delete(id=${user.id})}"><i class="bi bi-trash-fill"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span th:replace="~{sistema/component/modals :: modalPhoto}"></span>
    </section>
</main>
<span th:replace="~{sistema/component/base :: scripts}"></span>
<script th:src="@{/sistema/js/user-data-ajax.js}"></script>
<script th:src="@{/sistema/js/tabla-edit.js}"></script>
<script>tableEdit("user");</script>
</body>
</html>