<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="~{tienda/component/base :: head}"></span>
    <title>Futbol</title>
</head>
<body>
    <header th:replace="~{tienda/component/base :: menu}"></header>
    <div class="container">
        <div class="row mt-5 mb-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="#">Futbol</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Chimpunes</li>
                </ol>
            </nav>
        </div>
        <div class="row g-3 mb-4">
            <div class="col-lg-3" th:each="product : ${products}">
                <div class="card shadow-sm">
                    <img th:if="${#strings.length(product.photo) > 0}" th:src="@{'/system-sport-shop/photoproducts/' + ${product.photo}}"
                         class="card-img-top" th:alt="${product.photo}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${product.name}"></h5>
                        <div class="card-text" th:text="'Marca: ' + ${product.mark.name}"></div>
                        <div class="card-text" th:text="'Stock: ' + ${product.amount}"></div>
                        <div class="card-text fst-italic fw-semibold" th:text="'Precio: S/' + ${product.price}"></div>
                        <div class="d-grid mt-3">
                            <a class="btn btn-success" th:href="@{/carrito/additem(id=${product.id})}"><i class="fa-solid fa-cart-shopping"></i> Añadir al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{tienda/component/base :: footer}"></footer>
    <span th:replace="~{tienda/component/base :: scripts}"></span>
</body>
</html>