<!DOCTYPE html>
<html lang="es">
<head>
    <span th:replace="~{tienda/component/base :: head}"></span>
    <title>Inicio</title>
</head>
<body>
    <header th:replace="~{tienda/component/base :: menu}"></header>
    <div class="container">
        <span th:replace="~{tienda/component/base :: alerts}"></span>
        <div class="row mt-5">
            <h3>Nuevos lazamientos!</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-4 text-center">
                <div id="carouselExampleFade" class="carousel slide carousel-fade mt-4">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img th:src="@{/tienda/img/Zapatillas_adidas_4D_FWD_Pulse_N.jpg}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img th:src="@{/tienda/img/Zapatillas_de_Running_adidas_4DF.jpg}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img th:src="@{/tienda/img/Zapatillas_De_Running_Adidas_Adi.jpg}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img th:src="@{/tienda/img/Zapatillas_EQ21_Run_Negro_GY2190.jpg}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <h4 class="m-3">Calzado</h4>
            </div>
            <div class="col-sm-12 col-lg-4 text-center">
                <div id="carousel-ropa" class="carousel slide carousel-fade mt-4">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img th:src="@{/tienda/img/Zapatillas_adidas_4D_FWD_Pulse_N.jpg}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img th:src="@{/tienda/img/Zapatillas_de_Running_adidas_4DF.jpg}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img th:src="@{/tienda/img/Zapatillas_De_Running_Adidas_Adi.jpg}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img th:src="@{/tienda/img/Zapatillas_EQ21_Run_Negro_GY2190.jpg}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-ropa" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-ropa" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <h4 class="m-3">Ropa</h4>
            </div>
            <div class="col-sm-12 col-lg-4 text-center">
                <div id="carousel-accesorios" class="carousel slide carousel-fade mt-4">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img th:src="@{/tienda/img/Zapatillas_adidas_4D_FWD_Pulse_N.jpg}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img th:src="@{/tienda/img/Zapatillas_de_Running_adidas_4DF.jpg}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img th:src="@{/tienda/img/Zapatillas_De_Running_Adidas_Adi.jpg}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img th:src="@{/tienda/img/Zapatillas_EQ21_Run_Negro_GY2190.jpg}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-accesorios" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-accesorios" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <h4 class="m-3">Accesorios</h4>
            </div>
        </div>
    </div>
    <footer th:replace="~{tienda/component/base :: footer}"></footer>
    <span th:replace="~{tienda/component/base :: scripts}"></span>
</body>
</html>