<!DOCTYPE html>
<html lang="es">
<head>
    <span th:replace="tienda/component/base :: head"></span>
    <title>Registro de Cliente</title>
</head>
<body>
    <header th:replace="tienda/component/base :: menu"></header>
    <div class="container">
        <div class="card mt-5 mb-5">
            <div class="row g-0">
                <div class="col-md-6 d-flex justify-content-center">
                    <img th:src="@{/tienda/img/registrocliente.png}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Ingrese sus datos personales</h5>
                        <form>
                            <div class="mb-3">
                                <label for="names" class="form-label">Nombres:</label>
                                <input type="names" class="form-control" id="names"/>
                            </div>
                            <div class="row mb-3 g-3">
                                <div class="col-6">
                                    <label for="apePat" class="form-label">Apellido paterno:</label>
                                    <input type="text" class="form-control" id="apePat"/>
                                </div>
                                <div class="col-6">
                                    <label for="apeMat" class="form-label">Apellido materno:</label>
                                    <input type="apeMat" class="form-control" id="apeMat"/>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Correo electrónico:</label>
                                <input type="names" class="form-control" id="email"/>
                            </div>
                            <div class="row mb-3 g-3">
                                <div class="col-6">
                                    <label for="username" class="form-label">Contraseña:</label>
                                    <input type="password" class="form-control" id="username" />
                                </div>
                                <div class="col-6">
                                    <label for="passconfir" class="form-label">Confirmar contraseña:</label>
                                    <input type="password" class="form-control" id="passconfir" />
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <input type="submit" class="btn btn-primary" value="Registrar"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="tienda/component/base :: footer"></footer>
    <span th:replace="tienda/component/base :: scripts"></span>
</body>
</html>