<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" th:href="@{/tienda/frameworks/booststrap/css/bootstrap.min.css}">
    <script src="https://kit.fontawesome.com/82ec21a6d1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
            <div class="container">
                <a class="navbar-brand" href="index.html">SPORT SHOP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                MUJER
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Calzado</a></li>
                                <li><a class="dropdown-item" href="#">Ropa</a></li>
                                <li><a class="dropdown-item" href="#">Accesorios</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Todos los Productos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                HOMBRE
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Calzado</a></li>
                                <li><a class="dropdown-item" href="#">Ropa</a></li>
                                <li><a class="dropdown-item" href="#">Accesorios</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Todos los Productos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                data-bs-auto-close="outside" aria-expanded="false">
                                DEPORTE
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropend ms-2">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Futbol
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Futbol</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="section-futbol-chimpunes.html">Chimpunes</a></li>
                                        <li><a class="dropdown-item" href="">Ropa</a></li>
                                        <li><a class="dropdown-item" href="">Accesorios</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="#">Running</a></li>
                                <li><a class="dropdown-item" href="#">Gym & Training</a></li>
                                <li><a class="dropdown-item" href="#">Outdoor</a></li>
                                <li><a class="dropdown-item" href="#">Skateboarding</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Otros Deportes</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">OFERTAS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">PROMOCIONES</a>
                        </li>
                    </ul>
                    <div class="navbar-nav d-flex justify-content-center me-3 mt-2">
                        <a class="position-relative text-dark" href="shoppingcar.html">
                            <i class="fa-solid fa-cart-shopping fs-4"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                99+
                            </span>
                        </a>
                    </div>
                    <ul class="navbar-nav mb-lg-0 d-flex justify-content-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fs-4" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                aria-expanded="false">
                                <i class="fa-solid fa-user"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropstart ms-2">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                        Iniciar Sesión
                                    </a>
                                    <form class="dropdown-menu p-3" style="width: 300px;">
                                        <div class="mb-3">
                                            <label for="email" class="form-label">Correo electrónico:</label>
                                            <input type="email" class="form-control" id="email"/>
                                        </div>
                                        <div class="mb-3">
                                            <label for="password" class="form-label">Contraseña:</label>
                                            <input type="password" class="form-control" id="password"/>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                                    </form>
                                </li>
                                <li><a class="dropdown-item" href="register-client.html">Registrate Gratis</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="card mt-5 mb-5">
            <div class="row g-0">
                <div class="col-md-6 d-flex justify-content-center">
                    <img th:src="@{/tienda/img/registrocliente.png}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Ingrese sus datos personales</h5>
                        <form>
                            <div class="mb-3">
                                <label for="names" class="form-label">Nombres:</label>
                                <input type="names" class="form-control" id="names"/>
                            </div>
                            <div class="row mb-3 g-3">
                                <div class="col-6">
                                    <label for="apePat" class="form-label">Apellido paterno:</label>
                                    <input type="text" class="form-control" id="apePat"/>
                                </div>
                                <div class="col-6">
                                    <label for="apeMat" class="form-label">Apellido materno:</label>
                                    <input type="apeMat" class="form-control" id="apeMat"/>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Correo electrónico:</label>
                                <input type="names" class="form-control" id="email"/>
                            </div>
                            <div class="row mb-3 g-3">
                                <div class="col-6">
                                    <label for="username" class="form-label">Contraseña:</label>
                                    <input type="password" class="form-control" id="username" />
                                </div>
                                <div class="col-6">
                                    <label for="passconfir" class="form-label">Confirmar contraseña:</label>
                                    <input type="password" class="form-control" id="passconfir" />
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <input type="submit" class="btn btn-primary" value="Registrar"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-secondary">
        <section class="container">
            <div class="row mt-3">
                <div class="col-sm-12 col-lg-3 mt-3">
                    <h4 class="fw-bold text-white mb-0">SPORT SHOP</h4>
                    <hr class="mb-2 mt-0 border border-2">
                    <p class="text-white w-75">Somos una empresa de ventas de ropa deportiva como de vestir, hemos hecho
                        realidad los sueños de muchas personas y lo seguiremos haciendo.</p>
                </div>
                <div class="col-sm-12 col-lg-3 mt-3">
                    <h4 class="fw-bold text-white mb-0">COLECCIONES</h4>
                    <hr class="mb-2 mt-0 border border-2">
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Hombre</a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Mujer</a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Deporte</a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Hurbano</a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Estilo</a>
                    </p>
                </div>
                <div class="col-sm-12 col-lg-3 mt-3">
                    <h4 class="fw-bold text-white mb-0">ASISTENCIA</h4>
                    <hr class="mb-2 mt-0 border border-2">
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Servicio al cliente</a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Mi cuenta</a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Nuetras tiendas</a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Terminos y condiciones</a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Tarjetas de regalo</a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Libro de reclamaciones</a>
                    </p>
                </div>
                <div class="col-sm-12 col-lg-3 mt-3">
                    <h4 class="fw-bold text-white mb-0">CONTACTO</h4>
                    <hr class="mb-2 mt-0 border border-2">
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">
                            <i class="fa-solid fa-location-dot me-1"></i> Ubicación
                        </a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">
                            <i class="fa-solid fa-envelope me-1"></i> joaquin.farro.06@gmail.com
                        </a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">
                            <i class="fa-solid fa-phone me-1"></i> +51 933 057 429
                        </a>
                    </p>
                </div>
            </div>
        </section>
        <section class="bg-dark-subtle">
            <div class="container">
                <div class="row p-2">
                    <div class="col-sm-12 col-lg-6 d-flex justify-content-center">
                        <div class="d-flex align-items-center">
                            <div class="fw-bold">&copy; 2023 Copyright: Joaquin Sebastian Farro Quiroz</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 d-flex justify-content-center">
                        <div class="d-flex align-items-center me-4">
                            <a href="" class="text-black fs-3"><i class="fa-brands fa-facebook"></i></a>
                        </div>
                        <div class="d-flex align-items-center me-4">
                            <a href="" class="text-black fs-3"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                        <div class="d-flex align-items-center me-4">
                            <a href="" class="text-black fs-3"><i class="fa-brands fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <script th:src="@{/tienda/frameworks/booststrap/css/bootstrap.min.css}"></script>
</body>
</html>