<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="~{tienda/component/base :: head}"></span>
    <title>Carrito</title>
</head>
<body>
    <header th:replace="~{tienda/component/base :: menu}"></header>
    <div class="container">
        <div class="row mt-4">
            <div class="col">
                <h3>Gracias por su compra</h3>
            </div>
        </div>
    </div>
    <footer th:replace="~{tienda/component/base :: footer}"></footer>
    <span th:replace="~{tienda/component/base :: scripts}"></span>
</body>
</html>