<!DOCTYPE html>
<html lang="es">
<head>
    <span th:replace="tienda/component/base :: head"></span>
    <title>Carrito</title>
</head>
<body>
    <header th:replace="tienda/component/base :: menu"></header>
    <div class="container">
        <div class="row mt-4">
            <div class="col">
                <h3>Mi carrito (0 items)</h3>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-md-9 col-lg-8 col-xl-8 mt-3">
                <div class="card shadow">
                    <form action="" method="post">
                        <div class="row card-body m-2 car-container">
                            <div class="col-lg-6 col-xl-3 car-image">
                                <img class="img-fluid" th:src="@{/tienda/img/Chimpunes_X_Speedportal.1_Pasto.jpg}"/>
                            </div>
                            <div class="col-lg-6 col-xl-7 car-data">
                                <h5 class="pe-1">MSI Gaming GeForce RTX 3060 Ti LHR 8 GB GDRR6 256 bits HDMI/DP Nvlink Torx Fan</h5>
                                <div class="car-data-price mt-2">
                                    Precio: S/ 2500
                                </div>
                                <div class="row mt-2">
                                    <div class="col-xs-8 col-md-8 col-lg-6 col-xl-4 overflow-hidden">
                                        <div class="input-group mb-3">
                                            <a class="btn btn-outline-secondary" href="">-</a>
                                            <input type="text" class="form-control text-center" name="" value="1" disabled/>
                                            <a class="btn btn-outline-secondary" href="">+</a>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <a class="text-secondary" href="">
                                            <i class="fa-solid fa-trash mt-1" style="font-size: 25px;"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-2 text-end">
                                <h5>S/ 25000</h5>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-9 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col">
                                <h3 class="card-title">Resumen del pedido</h3>
                            </div>
                        </div>
                        <div class="row me-2 ms-2">
                            <div class="col">
                                <h6 class="card-subtitle mb-2 text-muted">Precio:</h6>
                            </div>
                            <div class="col text-end">
                                <h6 class="card-subtitle mb-2 text-muted">S/ 2500</h6>
                            </div>
                        </div>
                        <div class="row me-2 ms-2">
                            <div class="col">
                                <h6 class="card-subtitle mb-2 text-muted">Descuentos:</h6>
                            </div>
                            <div class="col text-end">
                                <h6 class="card-subtitle mb-2 text-muted">S/ 0</h6>
                            </div>
                        </div>
                        <div class="row mt-3 mb-2">
                            <div class="col">
                                <h4 class="card-title">Subtotal: </h4>
                            </div>
                            <div class="col text-end">
                                <h4 class="card-title">S/ 2500</h4>
                            </div>
                        </div>
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <button class="btn btn-primary p-3" type="button">Finalizar compra</button>
                            <button class="btn btn-secondary p-3" type="button">Continuar comprando</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="tienda/component/base :: footer"></footer>
    <span th:replace="tienda/component/base :: scripts"></span>
</body>
</html>