<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="framework/bootstrap/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/82ec21a6d1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
            <div class="container">
                <a class="navbar-brand" href="index.html">SPORT SHOP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                MUJER
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Calzado</a></li>
                                <li><a class="dropdown-item" href="#">Ropa</a></li>
                                <li><a class="dropdown-item" href="#">Accesorios</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Todos los Productos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                HOMBRE
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Calzado</a></li>
                                <li><a class="dropdown-item" href="#">Ropa</a></li>
                                <li><a class="dropdown-item" href="#">Accesorios</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Todos los Productos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                data-bs-auto-close="outside" aria-expanded="false">
                                DEPORTE
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropend ms-2">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Futbol
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Futbol</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="section-futbol-chimpunes.html">Chimpunes</a></li>
                                        <li><a class="dropdown-item" href="">Ropa</a></li>
                                        <li><a class="dropdown-item" href="">Accesorios</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="#">Running</a></li>
                                <li><a class="dropdown-item" href="#">Gym & Training</a></li>
                                <li><a class="dropdown-item" href="#">Outdoor</a></li>
                                <li><a class="dropdown-item" href="#">Skateboarding</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Otros Deportes</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">OFERTAS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">PROMOCIONES</a>
                        </li>
                    </ul>
                    <div class="navbar-nav d-flex justify-content-center me-3 mt-2">
                        <a class="position-relative text-dark" href="shoppingcar.html">
                            <i class="fa-solid fa-cart-shopping fs-4"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                99+
                            </span>
                        </a>
                    </div>
                    <ul class="navbar-nav mb-lg-0 d-flex justify-content-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fs-4" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                aria-expanded="false">
                                <i class="fa-solid fa-user"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropstart ms-2">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                        aria-expanded="false">
                                        Iniciar Sesión
                                    </a>
                                    <form class="dropdown-menu p-3" style="width: 300px;">
                                        <div class="mb-3">
                                            <label for="email" class="form-label">Correo electrónico:</label>
                                            <input type="email" class="form-control" id="email" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="password" class="form-label">Contraseña:</label>
                                            <input type="password" class="form-control" id="password" />
                                        </div>
                                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                                    </form>
                                </li>
                                <li><a class="dropdown-item" href="register-client.html">Registrate Gratis</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row mt-4">
            <div class="col">
                <h3>Mi carrito (0 items)</h3>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-md-9 col-lg-8 col-xl-8 mt-3">
                <div class="card shadow">
                    <form action="" method="post">
                        <div class="row card-body m-2 car-container">
                            <div class="col-lg-6 col-xl-3 car-image">
                                <img class="img-fluid" src="img/Chimpunes_X_Speedportal.1_Pasto.jpg"/>                              
                            </div>
                            <div class="col-lg-6 col-xl-7 car-data">
                                <h5 class="pe-1">MSI Gaming GeForce RTX 3060 Ti LHR 8 GB GDRR6 256 bits HDMI/DP Nvlink Torx Fan</h5>
                                <div class="car-data-price mt-2">
                                    Precio: S/ 2500
                                </div>
                                <div class="row mt-2">
                                    <div class="col-xs-8 col-md-8 col-lg-6 col-xl-4 overflow-hidden">
                                        <div class="input-group mb-3">
                                            <a class="btn btn-outline-secondary" href="">-</a>
                                            <input type="text" class="form-control text-center" name="" value="1" disabled/>
                                            <a class="btn btn-outline-secondary" href="">+</a>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <a class="text-secondary" href="">
                                            <i class="fa-solid fa-trash mt-1" style="font-size: 25px;"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-2 text-end">
                                <h5>S/ 25000</h5>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-9 col-lg-4 col-xl-4 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col">
                                <h3 class="card-title">Resumen del pedido</h3>
                            </div>
                        </div>
                        <div class="row me-2 ms-2">
                            <div class="col">
                                <h6 class="card-subtitle mb-2 text-muted">Precio:</h6>
                            </div>
                            <div class="col text-end">
                                <h6 class="card-subtitle mb-2 text-muted">S/ 2500</h6>
                            </div>
                        </div>
                        <div class="row me-2 ms-2">
                            <div class="col">
                                <h6 class="card-subtitle mb-2 text-muted">Descuentos:</h6>
                            </div>
                            <div class="col text-end">
                                <h6 class="card-subtitle mb-2 text-muted">S/ 0</h6>
                            </div>
                        </div>
                        <div class="row mt-3 mb-2">
                            <div class="col">
                                <h4 class="card-title">Subtotal: </h4>
                            </div>
                            <div class="col text-end">
                                <h4 class="card-title">S/ 2500</h4>
                            </div>
                        </div>
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <button class="btn btn-primary p-3" type="button">Finalizar compra</button>
                            <button class="btn btn-secondary p-3" type="button">Continuar comprando</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-secondary">
        <section class="container">
            <div class="row mt-3">
                <div class="col-sm-12 col-lg-3 mt-3">
                    <h4 class="fw-bold text-white mb-0">SPORT SHOP</h4>
                    <hr class="mb-2 mt-0 border border-2">
                    <p class="text-white w-75">Somos una empresa de ventas de ropa deportiva como de vestir, hemos hecho
                        realidad los sueños de muchas personas y lo seguiremos haciendo.</p>
                </div>
                <div class="col-sm-12 col-lg-3 mt-3">
                    <h4 class="fw-bold text-white mb-0">COLECCIONES</h4>
                    <hr class="mb-2 mt-0 border border-2">
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Hombre</a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Mujer</a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Deporte</a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Hurbano</a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Estilo</a>
                    </p>
                </div>
                <div class="col-sm-12 col-lg-3 mt-3">
                    <h4 class="fw-bold text-white mb-0">ASISTENCIA</h4>
                    <hr class="mb-2 mt-0 border border-2">
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Servicio al cliente</a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Mi cuenta</a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Nuetras tiendas</a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Terminos y condiciones</a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Tarjetas de regalo</a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">Libro de reclamaciones</a>
                    </p>
                </div>
                <div class="col-sm-12 col-lg-3 mt-3">
                    <h4 class="fw-bold text-white mb-0">CONTACTO</h4>
                    <hr class="mb-2 mt-0 border border-2">
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">
                            <i class="fa-solid fa-location-dot me-1"></i> Ubicación
                        </a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">
                            <i class="fa-solid fa-envelope me-1"></i> joaquin.farro.06@gmail.com
                        </a>
                    </p>
                    <p class="text-white">
                        <a href="" class="text-reset text-decoration-none">
                            <i class="fa-solid fa-phone me-1"></i> +51 933 057 429
                        </a>
                    </p>
                </div>
            </div>
        </section>
        <section class="bg-dark-subtle">
            <div class="container">
                <div class="row p-2">
                    <div class="col-sm-12 col-lg-6 d-flex justify-content-center">
                        <div class="d-flex align-items-center">
                            <div class="fw-bold">&copy; 2023 Copyright: Joaquin Sebastian Farro Quiroz</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 d-flex justify-content-center">
                        <div class="d-flex align-items-center me-4">
                            <a href="" class="text-black fs-3"><i class="fa-brands fa-facebook"></i></a>
                        </div>
                        <div class="d-flex align-items-center me-4">
                            <a href="" class="text-black fs-3"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                        <div class="d-flex align-items-center me-4">
                            <a href="" class="text-black fs-3"><i class="fa-brands fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <script src="framework/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>