<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <span th:replace="~{sistema/component/base :: head}"></span>
  <title>Login | JC System</title>
</head>
<body>

  <!-- Contenido -->
  <main>
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="" class="logo d-flex align-items-center w-auto">
                  <img src="" alt="">
                  <span class="d-none d-lg-block">SportShop</span>
                </a>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Inicio de Sesión</h5>
                    <p class="text-center small">Ingrese su nombre de usuario y contraseña</p>
                  </div>

                  <form class="row g-3 needs-validation" th:action="@{/login}" method="post" novalidate>

                    <div class="col-12">
                      <label for="username" class="form-label">Nombre de usuario</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" name="username" class="form-control" id="username" required>
                        <div class="invalid-feedback">Porfavor ingrese su nombre de usuario.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="password" class="form-label">Contraseña</label>
                      <input type="password" name="password" class="form-control" id="password" required>
                      <div class="invalid-feedback">Porfavor ingrese su contraseña</div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Ingresar</button>
                    </div>

                    <div class="col-12">
                      <p class="text-center small"><a th:href="@{/}">Volver a inicio</a></p>
                    </div>
                  </form>
                </div>
              </div>

              <span th:replace="~{sistema/component/base :: alerts}"></span>

            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

  <span th:replace="~{sistema/component/base :: scripts}"></span>
</body>
</html>